* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: pink;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    list-style: none;
    font-size: 150%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 5px;
    background-color: pink;
    position: fixed;
    top: 0;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    border-bottom: 3px solid grey;
    color: grey;
}
.logo-donut {
    width: 100px;
}



#contenedor-cards {
        display: grid;
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(3,auto);
        grid-gap: 20px;
        grid-row: 20px;
        width: 100%;
        margin-top: 50px;
    }

    .cards-producto {
        margin: 0 40px 20px 40px;
    }

.titulo-producto {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.precio-producto, .stock-producto {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
}


.stock-producto {
    margin-bottom: 30px;
}

.boton-carrito {
    width: 100%;
    text-decoration: none;
    text-align: center;
    background-color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}

i {
    font-size: 24px;
    color: black;
    display: flex;
    align-items: center;
}

/*.contenedor-basket {
    display: flex;
    justify-content: flex-end;
    margin: 20px 20px 0 0;
    background-color: pink;
}*/

.foto-producto {
    width: 100%;
}

h1 {
    margin-top: 150px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 5px;
}


