@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald:wght@600&family=Permanent+Marker&family=Yanone+Kaffeesatz&display=swap");
.header-container {
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1999;
}
.header-container .header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.header-container .header .header-1 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
  padding-left: 0;
}
.header-container .header .header-1 li {
  position: relative;
}
.header-container .header .header-1 li img {
  width: 70%;
}
.header-container .header .header-1 li a {
  color: black;
  letter-spacing: 2px;
  font-size: 120%;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
.header-container .header .header-1 li a:hover {
  text-decoration: none;
  border-bottom: 3px solid #fb46f4;
  color: #fb46f4;
}
.header-container .header .header-1 li ul {
  position: absolute;
  display: none;
  padding-left: 0;
  margin-top: 2px;
}
.header-container .header .header-1 li ul li {
  display: block;
  position: relative;
  background-color: white;
  text-align: center;
}
.header-container .header .header-1 li ul li a {
  font-size: 80%;
}
.header-container .header .header-1 li ul li a:hover {
  color: #fb46f4;
  border-bottom: 1px solid #fb46f4;
}
.header-container .header .header-1 li:hover ul {
  display: block;
}

.seguinos {
  color: #a1a1a1;
  font-size: 120%;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
  margin-top: 50px;
}

.footer-container {
  display: flex;
  justify-content: center;
}
.footer-container .footer {
  width: 100px;
  display: flex;
  justify-content: space-around;
}
.footer-container .footer .iconos-rrss a i {
  color: #a1a1a1;
  font-size: 24px;
  margin-bottom: 50px;
}
.footer-container .footer .iconos-rrss a i:hover {
  transform: scale(1.5);
}

.footer-container-2 {
  display: flex;
  justify-content: center;
}
.footer-container-2 .footer-menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.footer-container-2 .footer-menu .div-footer h4 {
  color: black;
  letter-spacing: 4px;
  font-size: 70%;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}
.footer-container-2 .footer-menu .div-footer .footer-final {
  color: black;
  letter-spacing: 1px;
  font-size: 70%;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-align: center;
}

.copywright {
  color: gray;
  font-size: 60%;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
}

.copywright-1 {
  color: gray;
  font-size: 60%;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
}
.copywright-1:hover {
  color: #fb46f4;
}

.nueva-coleccion .nueva-coleccion-div {
  display: flex;
  align-items: center;
}
.nueva-coleccion .nueva-coleccion-div .nueva-coleccion-div-2 {
  position: absolute;
}
.nueva-coleccion .nueva-coleccion-div .nueva-coleccion-div-2 .ss-21 {
  color: white;
  letter-spacing: 2px;
  font-size: 150%;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: bolder;
  margin-left: 20px;
}
.nueva-coleccion .nueva-coleccion-div .nueva-coleccion-div-2 .ver-coleccion {
  color: white;
  letter-spacing: 2px;
  font-size: 120%;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  margin-left: 20px;
}
.nueva-coleccion .nueva-coleccion-div div {
  width: 100%;
}
.nueva-coleccion .nueva-coleccion-div div img {
  width: 100%;
}

.texto-bienvenida {
  color: black;
  letter-spacing: 2px;
  font-size: 120%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  margin: 50px 20px 10px 20px;
}

.section-container {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.section-container .section {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.section-container .section .condiciones {
  margin-top: 30px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-container .section .condiciones .condiciones-titulo {
  color: #a1a1a1;
  font-size: 100%;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: bolder;
}
.section-container .section .condiciones i {
  color: #a1a1a1;
  font-size: 26px;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.photo-grid-container h3 {
  color: #fb46f4;
  font-size: 150%;
  letter-spacing: 8px;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  text-decoration: none;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 20px;
}
.photo-grid-container div div div .card-container-1 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-area: galeria;
  grid-template-areas: "primera-card segunda-card tercera-card cuarta-card";
  justify-items: center;
  width: 100%;
}
.photo-grid-container div div div .card-container-1 .card {
  width: 15rem;
}
.photo-grid-container div div div .card-container-1 .card .card-img-top:hover {
  cursor: pointer;
  opacity: 0.5;
}
.photo-grid-container div div div .card-container-1 .card .card-body .card-title {
  text-align: center;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}
.photo-grid-container div div div .card-container-1 .card .card-body .btn-primary {
  display: flex;
  justify-content: center;
  background-color: black;
  border-color: black;
  font-size: 90%;
}
.photo-grid-container div div div .card-container-1 .card .card-body .btn-primary:hover {
  background-color: #fb46f4;
  border-color: #fb46f4;
  cursor: pointer;
}
.photo-grid-container div div div .card-container-1 .primera-card {
  grid-area: primera-card;
}
.photo-grid-container div div div .card-container-1 .segunda-card {
  grid-area: segunda-card;
}
.photo-grid-container div div div .card-container-1 .tercera-card {
  grid-area: tercera-card;
}
.photo-grid-container div div div .card-container-1 .cuarta-card {
  grid-area: cuarta-card;
}
.photo-grid-container div div div .card-container-2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-area: galeria;
  grid-template-areas: "quinta-card sexta-card septima-card octava-card";
  justify-items: center;
  width: 100%;
}
.photo-grid-container div div div .card-container-2 .card {
  width: 15rem;
}
.photo-grid-container div div div .card-container-2 .card .card-img-top:hover {
  cursor: pointer;
  opacity: 0.5;
}
.photo-grid-container div div div .card-container-2 .card .card-body .card-title {
  text-align: center;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}
.photo-grid-container div div div .card-container-2 .card .card-body .btn-primary {
  display: flex;
  justify-content: center;
  background-color: black;
  border-color: black;
  font-size: 90%;
}
.photo-grid-container div div div .card-container-2 .card .card-body .btn-primary:hover {
  background-color: #fb46f4;
  border-color: #fb46f4;
  cursor: pointer;
}
.photo-grid-container div div div .card-container-2 .quinta-card {
  grid-area: quinta-card;
}
.photo-grid-container div div div .card-container-2 .sexta-card {
  grid-area: sexta-card;
}
.photo-grid-container div div div .card-container-2 .septima-card {
  grid-area: septima-card;
}
.photo-grid-container div div div .card-container-2 .octava-card {
  grid-area: octava-card;
}

#locales .locales {
  color: black;
  font-size: 120%;
  letter-spacing: 3px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: bold;
  margin: 80px 0 0 20px;
}
#locales div div h2 button {
  color: black;
  font-size: 60%;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
#locales div div div div {
  color: black;
  font-size: 100%;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.photo-grid-container-2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas: "titulo" "galeria";
  justify-items: center;
}
.photo-grid-container-2 .tienda-2 {
  color: #a1a1a1;
  font-size: 120%;
  letter-spacing: 5px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  grid-area: titulo;
}
.photo-grid-container-2 .card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-area: galeria;
  grid-template-areas: "photo-1 photo-2 photo-3" "photo-4 photo-5 photo-6" "photo-7 photo-8 photo-9" "photo-10 photo-11 photo-12";
  justify-items: center;
  width: 100%;
}
.photo-grid-container-2 .card-container .card {
  margin-bottom: 20px;
  margin-top: 20px;
}
.photo-grid-container-2 .card-container .card .card-img-top:hover {
  cursor: pointer;
  opacity: 0.5;
}
.photo-grid-container-2 .card-container .card .card-body .card-title {
  text-align: center;
  font-size: 120%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}
.photo-grid-container-2 .card-container .card .card-body .card-text {
  text-align: center;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
}
.photo-grid-container-2 .card-container .card .card-body .btn-primary {
  display: flex;
  justify-content: center;
  background-color: black;
  border-color: black;
}
.photo-grid-container-2 .card-container .card .card-body .btn-primary:hover {
  background-color: #fb46f4;
  border-color: #fb46f4;
  cursor: pointer;
}
.photo-grid-container-2 .card-container .photo-1 {
  grid-area: photo-1;
}
.photo-grid-container-2 .card-container .photo-2 {
  grid-area: photo-2;
}
.photo-grid-container-2 .card-container .photo-3 {
  grid-area: photo-3;
}
.photo-grid-container-2 .card-container .photo-4 {
  grid-area: photo-4;
}
.photo-grid-container-2 .card-container .photo-5 {
  grid-area: photo-5;
}
.photo-grid-container-2 .card-container .photo-6 {
  grid-area: photo-6;
}
.photo-grid-container-2 .card-container .photo-7 {
  grid-area: photo-7;
}
.photo-grid-container-2 .card-container .photo-8 {
  grid-area: photo-8;
}
.photo-grid-container-2 .card-container .photo-9 {
  grid-area: photo-9;
}
.photo-grid-container-2 .card-container .photo-10 {
  grid-area: photo-10;
}
.photo-grid-container-2 .card-container .photo-11 {
  grid-area: photo-11;
}
.photo-grid-container-2 .card-container .photo-12 {
  grid-area: photo-12;
}

.form-presupuesto {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.form-presupuesto form {
  width: 40%;
}
.form-presupuesto form div .form-label-presup {
  color: black;
  font-size: 90%;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}
.form-presupuesto form div .form-control {
  font-size: 80%;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}
.form-presupuesto form div .form-mensaje {
  color: #6E757C;
  font-size: 80%;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  margin-left: 12px;
}
.form-presupuesto form .btn-enviar {
  display: flex;
  justify-content: flex-end;
}
.form-presupuesto form .btn-enviar .btn-presup {
  color: white;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  background-color: black;
  border-color: black;
  padding: 10px 20px 10px 20px;
}
.form-presupuesto form .btn-enviar .btn-presup:hover {
  background-color: #fb46f4;
  border-color: #fb46f4;
}

.mensaje-volver {
  color: black;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.mensaje-volver:hover {
  color: #fb46f4;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -o-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
}

/* Media query */
/* Mobile */
@media only screen and (max-width: 480px) {
  .header-container .header .header-1 {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .header-container .header .header-1 li img {
    width: 100%;
  }
  .header-container .header .header-1 li ul li {
    display: none;
  }
  .header-container .header .header-1 li ul:hover ul {
    display: none;
  }

  .nueva-coleccion .nueva-coleccion-div .nueva-coleccion-div-2 .ss-21 {
    text-align: center;
    font-size: 120%;
  }
  .nueva-coleccion .nueva-coleccion-div .nueva-coleccion-div-2 .ver-coleccion {
    text-align: center;
    font-size: 100%;
  }
  .nueva-coleccion .nueva-coleccion-div div img {
    width: 100%;
  }

  .texto-bienvenida {
    font-size: 100%;
  }

  .section-container .section {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .section-container .section .section div {
    width: 100%;
  }

  #locales .locales {
    text-align: center;
    font-size: 90%;
  }

  .photo-grid-container h3 {
    font-size: 100%;
  }
  .photo-grid-container div div div .card-container-1 {
    display: flex;
    justify-content: space-around;
  }
  .photo-grid-container div div div .card-container-1 .card {
    width: 12rem;
  }
  .photo-grid-container div div div .card-container-1 .card .card-body .card-title {
    font-size: 80%;
  }
  .photo-grid-container div div div .card-container-1 .card .card-body .btn-primary {
    font-size: 80%;
  }
  .photo-grid-container div div div .card-container-1 .tercera-card {
    display: none;
  }
  .photo-grid-container div div div .card-container-1 .cuarta-card {
    display: none;
  }
  .photo-grid-container div div div .card-container-2 {
    display: flex;
    justify-content: space-around;
  }
  .photo-grid-container div div div .card-container-2 .card {
    width: 12rem;
  }
  .photo-grid-container div div div .card-container-2 .card .card-body .card-title {
    font-size: 80%;
  }
  .photo-grid-container div div div .card-container-2 .card .card-body .btn-primary {
    font-size: 80%;
  }
  .photo-grid-container div div div .card-container-2 .septima-card {
    display: none;
  }
  .photo-grid-container div div div .card-container-2 .octava-card {
    display: none;
  }

  .photo-grid-container-2 .tienda-2 {
    text-align: center;
    font-size: 100%;
  }
  .photo-grid-container-2 .card-container {
    grid-template-columns: auto;
    grid-template-rows: repeat(12, auto);
    grid-template-areas: "photo-1" "photo-2" "photo-3" "photo-4" "photo-5" "photo-6" "photo-7" "photo-8" "photo-9" "photo-10" "photo-11" "photo-12";
  }

  .footer-container-2 .footer-menu {
    width: 100%;
    flex-wrap: wrap;
  }
  .footer-container-2 .footer-menu .div-footer {
    width: 50%;
  }
}
/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 960px) {
  .header-container .header .header-1 {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .header-container .header .header-1 li img {
    width: 100%;
  }
  .header-container .header .header-1 li ul li {
    display: none;
  }
  .header-container .header .header-1 li ul:hover ul {
    display: none;
  }

  .nueva-coleccion .nueva-coleccion-div .nueva-coleccion-div-2 .ss-21 {
    text-align: center;
    font-size: 120%;
  }
  .nueva-coleccion .nueva-coleccion-div .nueva-coleccion-div-2 .ver-coleccion {
    text-align: center;
    font-size: 100%;
  }
  .nueva-coleccion .nueva-coleccion-div div img {
    width: 100%;
  }

  .texto-bienvenida {
    font-size: 100%;
  }

  .section-container .section .condiciones .condiciones-titulo {
    text-align: center;
    font-size: 80%;
  }

  .photo-grid-container h3 {
    font-size: 120%;
  }
  .photo-grid-container div div div .card-container-1 {
    display: flex;
    justify-content: space-around;
  }
  .photo-grid-container div div div .card-container-1 .card {
    width: 12rem;
  }
  .photo-grid-container div div div .card-container-1 .card .card-body .card-title {
    font-size: 80%;
  }
  .photo-grid-container div div div .card-container-1 .card .card-body .btn-primary {
    font-size: 80%;
  }
  .photo-grid-container div div div .card-container-1 .cuarta-card {
    display: none;
  }
  .photo-grid-container div div div .card-container-2 {
    display: flex;
    justify-content: space-around;
  }
  .photo-grid-container div div div .card-container-2 .card {
    width: 12rem;
  }
  .photo-grid-container div div div .card-container-2 .card .card-body .card-title {
    font-size: 80%;
  }
  .photo-grid-container div div div .card-container-2 .card .card-body .btn-primary {
    font-size: 80%;
  }
  .photo-grid-container div div div .card-container-2 .octava-card {
    display: none;
  }

  .photo-grid-container-2 .card-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "photo-1 photo-2" "photo-3 photo-4" "photo-5 photo-6" "photo-7 photo-8" "photo-9 photo-10" "photo-11 photo-12";
  }
}
#locales h3 {
  font-size: 100%;
}

.seguinos {
  font-size: 100%;
}

/* Desktop */
@media only screen and (min-width: 961px) {
  .photo-grid-container-2 .card-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: "photo-1 photo-2 photo-3" "photo-4 photo-5 photo-6" "photo-7 photo-8 photo-9" "photo-10 photo-11 photo-12";
  }
}

/*# sourceMappingURL=style.css.map */
