@import '../base/mixins';
@import '../base/colores';
@import '../base/fuentes';
@import '../base/operadores';

.seguinos {
    color: nth($colores-proyecto, 4);
    font-size: nth($fuentes-proyecto, 3);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 50px;
}

.footer-container {
    @include parametro-flex(flex, center);
    
    .footer {
    @include parametro-flex-completo(100px, flex, space-around);

    .iconos-rrss {
    a {
        i {
            color: nth($colores-proyecto, 4);
            font-size: 24px;
            margin-bottom: 50px;
            &:hover {
                transform: scale(1.5);
            }
        }
    }
}
    }
}

.footer-container-2 {
    @include parametro-flex(flex, center);

    .footer-menu {
        @include parametro-flex-completo(100%, flex, space-around);

        .div-footer {
            h4 {
                color:nth($colores-proyecto, 1);
                letter-spacing: 4px;
                font-size: nth($fuentes-proyecto, 7);
                font-family: 'Poppins', sans-serif;
                text-decoration: none;
                font-weight: bolder;
                text-transform: uppercase;
                text-align: center; 
            }
            .footer-final {
                color: nth($colores-proyecto, 1);
                letter-spacing: 1px;
                font-size: nth($fuentes-proyecto, 7);
                font-family: 'Poppins', sans-serif;
                text-decoration: none;
                text-align: center;
            }
        }
    }
}

.copywright {
    color: gray;
    font-size: nth($fuentes-proyecto, 5);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}

.copywright-1 {
    color: gray;
    font-size: nth($fuentes-proyecto, 5);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;

    &:hover {
        color: nth($colores-proyecto, 5);
    }
}


