@import '../base/mixins';
@import '../base/colores';
@import '../base/fuentes';
@import '../base/operadores';

.nueva-coleccion {
    .nueva-coleccion-div {
        display: flex;
        align-items: center;
            .nueva-coleccion-div-2 {
                position: absolute;
                    .ss-21 {
                        color: nth($colores-proyecto, 3);
                        letter-spacing: 2px;
                        font-size: nth($fuentes-proyecto, 4);
                        font-family: 'Poppins', sans-serif;
                        text-decoration: none;
                        font-weight: bolder;
                        margin-left: 20px;
                }
                    .ver-coleccion {
                        color: nth($colores-proyecto, 3);
                        letter-spacing: 2px;
                        font-size: nth($fuentes-proyecto, 3);
                        font-family: 'Poppins', sans-serif;
                        text-decoration: none;
                        margin-left: 20px;
                    }
                }
        div {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}

.texto-bienvenida {
    color: nth($colores-proyecto, 1);
    letter-spacing: 2px;
    font-size: nth($fuentes-proyecto, 3);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 50px 20px 10px 20px;
}

.section-container {
    padding: 20px 0;
    @include parametro-flex(flex, center);

    .section {
        @include parametro-flex-completo(100%, flex, space-around);

    .condiciones {
            margin-top: 30px;
            flex-direction: column;
            @include parametro-flex(flex, space-between);
            align-items: center;

            .condiciones-titulo {
                color: nth($colores-proyecto, 4);
                font-size: nth($fuentes-proyecto, 2);
                letter-spacing: 1px;
                font-family: 'Poppins', sans-serif;
                text-decoration: none;
                font-weight: bolder;
            }

            i {
                color: nth($colores-proyecto, 4);
                font-size: 26px;
            }
        } 
    }
}

.photo-grid-container {
    @include parametro-flex(flex, center);
    flex-direction: column;

    h3 {
    color: nth($colores-proyecto, 5);
    font-size: nth($fuentes-proyecto, 4);
    letter-spacing: 8px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    text-decoration: none;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
    }

    div {
        div {
            div { 
                .card-container-1 {
                    display: grid;
                    grid-template-columns: auto auto auto auto;
                    grid-template-rows: auto;
                    grid-column-gap: 10px;
                    grid-row-gap: 10px;
                    grid-area: galeria;
                    grid-template-areas: 
                    "primera-card segunda-card tercera-card cuarta-card";
                    justify-items: center;
                    width: 100%;

                    .card {
                        width: 15rem;
                        .card-img-top {
                            &:hover {
                                cursor: pointer;
                                opacity: 0.5;
                            }
                        }

                        .card-body {
                            .card-title {
                                text-align: center;
                                font-size: nth($fuentes-proyecto, 2);
                                font-family: 'Poppins', sans-serif;
                                font-weight: bold;
                                letter-spacing: 2px;
                            }
                            .btn-primary {
                                @include parametro-flex (flex, center);
                                background-color:nth($colores-proyecto, 1);
                                border-color:nth($colores-proyecto, 1);
                                font-size: nth($fuentes-proyecto, 1);
                                &:hover {
                                    background-color: nth($colores-proyecto, 5);
                                    border-color:nth($colores-proyecto, 5);
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                    .primera-card {
                        grid-area: primera-card;
                    }
                    .segunda-card {
                        grid-area: segunda-card;
                    }
                    .tercera-card {
                        grid-area: tercera-card;
                    }
                    .cuarta-card {
                        grid-area: cuarta-card;
                    }
                }
                .card-container-2 {
                    display: grid;
                    grid-template-columns: auto auto auto auto;
                    grid-template-rows: auto;
                    grid-column-gap: 10px;
                    grid-row-gap: 10px;
                    grid-area: galeria;
                    grid-template-areas: 
                    "quinta-card sexta-card septima-card octava-card";
                    justify-items: center;
                    width: 100%;

                    .card {
                        width: 15rem;
                        .card-img-top {
                            &:hover {
                                cursor: pointer;
                                opacity: 0.5;
                            }
                        }

                        .card-body {
                            .card-title {
                                text-align: center;
                                font-size: nth($fuentes-proyecto, 2);
                                font-family: 'Poppins', sans-serif;
                                font-weight: bold;
                                letter-spacing: 2px;
                            }
                            .btn-primary {
                                @include parametro-flex (flex, center);
                                background-color:nth($colores-proyecto, 1);
                                border-color:nth($colores-proyecto, 1);
                                font-size: nth($fuentes-proyecto, 1);
                                &:hover {
                                    background-color: nth($colores-proyecto, 5);
                                    border-color:nth($colores-proyecto, 5);
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                    .quinta-card {
                        grid-area: quinta-card;
                    }
                    .sexta-card {
                        grid-area: sexta-card;
                    }
                    .septima-card {
                        grid-area: septima-card;
                    }
                    .octava-card {
                        grid-area: octava-card;
                    }
                }
            }
        }
    }
}

#locales {
    .locales {
        color: nth($colores-proyecto, 1);
        font-size: nth($fuentes-proyecto, 3);
        letter-spacing: 3px;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        font-weight: bold;
        margin: 80px 0 0 20px; 
    }

    div {
        div {
            h2 {
                button {
                    color: nth($colores-proyecto, 1);
                    font-size: nth($fuentes-proyecto, 5);
                    letter-spacing: 1px;
                    font-family: 'Poppins', sans-serif;
                    text-decoration: none;
                }
            }

            div {
                div {
                    color: nth($colores-proyecto, 1);
                    font-size: nth($fuentes-proyecto, 2);
                    letter-spacing: 1px;
                    font-family: 'Poppins', sans-serif;
                    text-decoration: none;
                }
            }
        }
    }
}



